﻿@using litium_studio_test_app.ViewModels;
@model AdFormModel

<h2>@*Ad Pages...*@</h2>

<style>
    .rcorners1 {
        border-radius: 25px;
        padding: 20px;
        width: 800px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: monospace;
    }

    .rcorners2 {
        border-radius: 25px;
        padding: 20px;
        width: 800px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: monospace;
    }

    .rcorners3 {
        border-radius: 25px;
        padding: 20px;
        width: 800px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: monospace;
    }
</style>

<div style="font-family:fantasy">@Model.AdHeader</div>
<div class="rcorners1">
    <div style="color: red; ">Product Description :<span style="font-weight:bold"> @Model.ProductDescription</span></div>
</div>

<div class="rcorners1">
    <div style="color:red">Product Colour : <span style="font-weight:bold"> @Model.ProductColour</span></div>
</div>

<div class="rcorners2">
    <div style="color:red">Product Image : <span style="font-weight:bold"><img src="@Url.Content(@Model.Img)" alt="No Images Available" /> </span></div>
</div>

<div class="rcorners3">
    <div>
        @Html.Raw(Model.ProductLogoType)
    </div>
</div>

<div>
    <div style="color:red;font-family: monospace">Launch Date : <span style="font-weight:bold"> @Model.ProductDateOfLaunch</span></div>
</div>

<div>
    <div style="color:red;font-family: monospace">Redirrect Internal Url : <a href=@Model.RedirectInternalPageUrl>Link to Internal Pages</a></div>

</div>

<div>
    <div style="color:red;font-family: monospace">Redirrect External Url : <a href=@Model.RedirectExternalPageUrl>Link to External Pages</a></div>

</div>
@*<hr />*@
@if (@Model.IsShowSubHeader)
{
    <div style="font-family:fantasy">@Model.AddSubHeader</div>
}
