﻿
@{
    ViewBag.Title = "StartPage";
}



<head>
    
    
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="~/ShoppingDesignTemplates/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="~/ShoppingDesignTemplates/assets/css/style.css" rel="stylesheet" />
    <!-- font awesome styles -->
    @*<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    <link href="~/ShoppingDesignTemplates/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--[if IE 7]>
        <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>+
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/ShoppingDesignTemplates/assets/ico/favicon.ico">
    
    
    
    

    <style type="text/css">
        div {
            width: 300px;
            height: 300px;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            margin: auto;
        }
    </style>
</head>

<div>
    @*<div style="color:red;font-family: monospace">Redirrect Internal Url : <a href=@Model.RedirectInternalPageUrl>Link to Internal Pages</a></div>*@
    <h2><a href=@Model.RedirectInternalPageUrl>Start Shopping<span class="icon-arrow-right" style="text-decoration:none"></span></a></h2>
</div>

@*class="shopBtn btn-large pull-right"*@