﻿@model litium_studio_test_app.ViewModels.BasePageModel
@*@{
        ViewBag.Title = "BasePage";
    }*@

<head>
    <style type="text/css">
        .header {
            width: 100%;
            height: 15%;
            background-color: white;
        }

        .middel {
            width: 100%;
            height: 80%;
            background-color: azure;
        }

        .footer {
            width: 100%;
            height: 5%;
            background-color: black;
        }

        .sitename {
            color: lightgreen;
            margin-left: 20px;
            font-weight: bolder;
            font-family: 'Agency FB';
            font-size: x-large;
            text-align: center;
        }

        .middelCenter {
            margin-top: 20px;
            width: 50%;
            height: 20%;
        }

        .temp123 {
            margin: 0 auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            text-align: center;
        }

        .dropDown {
            margin-top: 20px;
            margin-left: 100px;
        }
    </style>
</head>



<div class="header">
    <span class="sitename"><img src="@Url.Content(@Model.SiteLogoImageUrl)" alt="No Images Available" /> </span>
    <span class="sitename">@Model.SiteName</span>
</div>

<div class="middel">

    <div class="middelCenter">

        <div class="temp123">

            Our Services
            @Html.DropDownList("ServiceDropDown", ViewBag.vbServices as SelectList)

            @Model.helloWorldText

        </div>


    </div>



</div>

<div class="footer"></div>
