﻿
@model litium_studio_test_app.ViewModels.ProductPageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="~/ShoppingDesignTemplates/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="~/ShoppingDesignTemplates/assets/css/style.css" rel="stylesheet"/>
    <!-- font awesome styles -->
    @*<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    <link href="~/ShoppingDesignTemplates/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--[if IE 7]>
        <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>+
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/ShoppingDesignTemplates/assets/ico/favicon.ico">

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            getCart();


            $('.defaultBtn').click(function() {
                $('.defaultBtn').removeClass("active");
                $(this).addClass("active");
                if ($('#addtoCart').is(':disabled')) {
                    $('#addtoCart').prop('disabled', false);
                }

                var variantId = $(this).closest("div").prop("id");
              

                var model = new Object();
                model.Id = variantId;
                $.ajax({
                    type: "post",
                    //url: "http://localhost:60304/varaint",
                    url: "http://hareesh-litium-test/varaint",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {

                        //$('#vId').html(response.id);
                        $('#vId').val(response.id);
                        $('#vName').html(response.name);
                        $('#vDescription').html(response.description);
                        $('#vInternalMemeory').html(response.internalMemory);
                        $('#vSpec').html(response.specification);
                        $('#vColour').html(response.variantBaseColor);
                        $('#vItemPrice').html("$ " + response.variantItemPrice.toFixed(2));
                        //$('#phoneImg').src(response.images[0].url);
                        $("#phoneImg").attr("src", response.images[0].url);
                        //msg.images[0].url

                    }
                });


            });

            $('#continueShopping').click(function() {
                window.location.href =
                    //"http://hareesh-litium-test/!3f78081b-90ad-41de-99c4-ee3207965aa9/productlisting1";
                    "http://hareesh-litium-test/productlisting1";
            });

            $('#addtoCart').click(function () {

                addToCartAndGetCart();

            });

            $('#checkOut').click(function () {

                //window.location.href = "http://hareesh-litium-test/!3f78081b-90ad-41de-99c4-ee3207965aa9/productlisting1/redme?method={getCart}";
                window.location.href = "http://hareesh-litium-test/productlisting1/redme?method={getCart}";

            });



            function addToCartAndGetCart() {
                
                var articleNumber = $('#vId').val();             
                var quantity = 1;
                $.ajax({
                    type: "get",
                    url: "http://hareesh-litium-test/AddItem/" + articleNumber + "/" + quantity + "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $('#totalCartItems').html(response.items.length + " Item(s) -" + "$ " + response.totalProductPrice);
                    },
                    error: function () {
                        alert("error");
                    }
                });

            }

            function getCart() {

                $.ajax({
                    type: "get",
                    url: "http://hareesh-litium-test/GetCart",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $('#totalCartItems').html(response.items.length + " Item(s) -" + "$ " + response.totalProductPrice);

                    },
                    error: function () {
                        alert("error");
                    }
                });

            }


        });

    </script>

</head>
<body>
<!-- 
Upper Header Section 
-->
@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-tumblr"></span></a>
                </div>
                <a href="index.html"> <span class="icon-home"></span> Home</a> 
                <a href="#"><span class="icon-user"></span> My Account</a> 
                <a href="register.html"><span class="icon-edit"></span> Free Register </a> 
                <a href="contact.html"><span class="icon-envelope"></span> Contact us</a>
                <a href="cart.html"><span class="icon-shopping-cart"></span> 2 Item(s) - <span class="badge badge-warning"> $448.42</span></a>
            </div>
        </div>
    </div>
</div>*@

<!--
Lower Header Section 
-->
<div class="container" id="container1">
<div id="gototop"> </div>
@*<header id="header">
    <div class="row">
        <div class="span4">
            <h1>
                <a class="logo" href="index.html"><span>Twitter Bootstrap ecommerce template</span> 
                    <img src="assets/img/logo-bootstrap-shoping-cart.png" alt="bootstrap sexy shop">
                </a>
            </h1>
        </div>
        <div class="span4">
            <div class="offerNoteWrapper">
                <h1 class="dotmark">
                    <i class="icon-cut"></i>
                    Twitter Bootstrap shopping cart HTML template is available $14
                </h1>
            </div>
        </div>
        <div class="span4 alignR">
            <p><br> <strong> Support (24/7) :  0800 1234 678 </strong><br><br></p>
            <span class="btn btn-mini">[ 2 ] <span class="icon-shopping-cart"></span></span>
            <span class="btn btn-warning btn-mini">$</span>
            <span class="btn btn-mini">&pound;</span>
            <span class="btn btn-mini">&euro;</span>
        </div>
    </div>
</header>*@

<!--
Navigation Bar Section 
-->
@*<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="index.html">Home	</a></li>
                    <li class=""><a href="list-view.html">List View</a></li>
                    <li class=""><a href="grid-view.html">Grid View</a></li>
                    <li class=""><a href="three-col.html">Three Column</a></li>
                    <li class=""><a href="four-col.html">Four Column</a></li>
                    <li class=""><a href="general.html">General Content</a></li>
                </ul>
                <form action="#" class="navbar-search pull-left">
                    <input type="text" placeholder="Search" class="search-query span2">
                </form>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Login <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <form class="form-horizontal loginFrm">
                                <div class="control-group">
                                    <input type="text" class="span2" id="inputEmail" placeholder="Email">
                                </div>
                                <div class="control-group">
                                    <input type="password" class="span2" id="inputPassword" placeholder="Password">
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input type="checkbox"> Remember me
                                    </label>
                                    <button type="submit" class="shopBtn btn-block">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>*@
<!-- 
Body Section 
-->
<div class="row">
@*<div id="sidebar" class="span3">
    <div class="well well-small">
        <ul class="nav nav-list">
            <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Watches</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Fine Jewelry</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion Jewelry</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Engagement & Wedding</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Men's Jewelry</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Vintage & Antique</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Diamonds </a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Beads</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>See All Jewelry & Watches</a></li>
            <li style="border:0"> &nbsp;</li>
            <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
        </ul>
    </div>

    <div class="well well-small alert alert-warning cntr">
        <h2>50% Discount</h2>
        <p> 
            only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
        </p>
    </div>
    <div class="well well-small" ><a href="#"><img src="assets/img/paypal.jpg" alt="payment method paypal"></a></div>
			
    <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
    <br>
    <br>
    <ul class="nav nav-list promowrapper">
        <li>
            <div class="thumbnail">
                <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                <img src="assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
                <div class="caption">
                    <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                </div>
            </div>
        </li>
        <li style="border:0"> &nbsp;</li>
        <li>
            <div class="thumbnail">
                <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                <img src="assets/img/shopping-cart-template.png" alt="shopping cart template">
                <div class="caption">
                    <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                </div>
            </div>
        </li>
        <li style="border:0"> &nbsp;</li>
        <li>
            <div class="thumbnail">
                <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                <img src="assets/img/bootstrap-template.png" alt="bootstrap template">
                <div class="caption">
                    <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                </div>
            </div>
        </li>
    </ul>

</div>*@
<br/>
<br/>
<br/>

<div class="span9">
<ul style="height:20px" class="breadcrumb">
    
    <li><a href="http://hareesh-litium-test/">Start</a> <span class="divider">/</span></li>
    <li><a href="http://hareesh-litium-test/productlisting1/">Home</a> <span class="divider">/</span></li>
    @*<li><a href="http://hareesh-litium-test/productlisting1/">Items</a> <span class="divider">/</span></li>*@
   

    <li class="active pull-right">
        @*<a id="totalCartItems" class="badge badge-warning" href='@string.Format("http://hareesh-litium-test/!3f78081b-90ad-41de-99c4-ee3207965aa9/productlisting1/redme?method={0}", "getCart")'></a>*@
        <a id="totalCartItems" class="badge badge-warning" href='@string.Format("http://hareesh-litium-test/productlisting1/redme?method={0}", "getCart")'></a>
    </li>

</ul>	
<div class="well well-small">
<div class="row-fluid">
    <div class="span5">
        <div id="myCarousel" class="carousel slide cntr">
            <div class="carousel-inner">
                <input id="hiddenSiteId" type="hidden"  value="@Model.CurrentWebsiteId" />
                
            @if (Model.ProductViewModel.Images != null)
            {
                <div class="item active">

                    @{
                        ViewBag.imgurl = Model.ProductViewModel.Images.Select(x => x.Url).FirstOrDefault();
                    }
                    <a href="#"> <img id="phoneImg" src="@Url.Content(@ViewBag.imgurl)" alt="No Images available"></a>

                </div>
            }

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
    <div class="span7">
        @*<h3>@Model.ProductViewModel.Name</h3>*@
        @*<hr class="soft"/>*@
        
      

        <form class="form-horizontal qtyFrm">
            
            <p style="height:200px" id="vDescription">@Model.ProductViewModel.Description
            </p>
           
           


            @*@using (Html.BeginForm("AddItemToCart", "CategoryPage", FormMethod.Get))
            {

                <button id="addtoCart" type="submit" style="margin-left: 10px" class="shopBtn"><span class="icon-shopping-cart"></span> Add to cart</button>
            }*@
            
            <table>
                <tr>
                    <td>
                        @if (Model.ListVariantViewModel.Count == 0 && Model.ProductViewModel != null)
                        {
                            <button id="addtoCart" type="button" style="margin-left: 10px" class="shopBtn"><span class="icon-shopping-cart"></span> Add to cart</button>
                        }
                        else
                        {
                            <button id="addtoCart" type="button" style="margin-left: 10px" class="shopBtn" disabled="disabled"><span class="icon-shopping-cart"></span> Add to cart</button>
                        }

                    </td>
                </tr>
                
                <tr  style="height:10px"></tr>

                <tr>
                    <td>
                        
                                                                           
          
                        @if (Model.ListVariantViewModel.Count > 0)
                        {
                            foreach (var variantItem in Model.ListVariantViewModel)
                            {
                                string varintData = variantItem.InternalMemory + " " + variantItem.VariantBaseColor;
                                <div class="defaultBtn" id="@variantItem.Id" style="width: 100px; float: left; height: 30px; margin-left: 10px; margin-top: 3px">
                                    <span>@varintData</span>
                                </div>


                            }
                        }
            
                        @if (Model.ListVariantViewModel.Count==0 && Model.ProductViewModel !=null)
                        {

                            string varintData = @Model.ProductViewModel.InternalMemory + " " + @Model.ProductViewModel.ProductBaseColor;
                            <div class="defaultBtn" id="@Model.ProductViewModel.Id" style="width: 100px; float: left; height: 30px; margin-left: 10px; margin-top: 3px">
                                <span>@varintData</span>
                            </div>
 
                        }

                    </td>
                </tr>

                <tr  style="height:10px"></tr>
                <tr>
                    <td> 
                             <h3> <span id="vItemPrice" style="color: red; font-weight: bolder">$ @Math.Round(Model.ProductViewModel.ProductPrice, 2)</span>
                             </h3>
                       
                    </td>
                </tr>
                
            </table>
          
           
         
           
        </form>
    </div>
</div>
<hr class="softn clr"/>


<ul id="productDetail" class="nav nav-tabs">
  
    @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product Details <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#cat1" data-toggle="tab">Category one</a></li>
            <li><a href="#cat2" data-toggle="tab">Category two</a></li>
        </ul>
    </li>*@
</ul>
<div id="myTabContent" class="tab-content tabWrapper">
<div class="tab-pane fade active in" id="home">
    <h4>Product Information</h4>
    <table class="table table-striped">
        <tbody>
        <tr style="visibility:hidden" class="techSpecRow"><td><input id="vId" type="hidden" value="@Model.ProductViewModel.Id" /></td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Name:</td><td id="vName" class="techSpecTD2">@Model.ProductViewModel.Name</td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Colour:</td><td id="vColour" class="techSpecTD2">@Model.ProductViewModel.ProductBaseColor</td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Memory:</td><td id="vInternalMemeory" class="techSpecTD2">@Model.ProductViewModel.InternalMemory</td></tr>
        <tr class="techSpecRow"><td class="techSpecTD1">Specification:</td><td style="height: 50px;" id="vSpec" class="techSpecTD2">@Model.ProductViewModel.Specification</td></tr>
        </tbody>
    </table>
        
    <input type="button" id="continueShopping" class="shopBtn btn-large" value="Continue Shopping" />
    <button type="submit" id="checkOut" style="margin-left: 10px" class="shopBtn  pull-right"><span class="icon-shopping-cart"></span> Check Out</button>
    
    @*<a id="totalCartItems" class="badge badge-warning" href='@string.Format("http://hareesh-litium-test/!3f78081b-90ad-41de-99c4-ee3207965aa9/productlisting1/redme?method={0}", "getCart")'></a>*@
      
</div>
@*<div class="tab-pane fade" id="profile">
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soft">
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soft"/>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soft"/>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soften"/>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="cat1">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
    <br>
    <br>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/b.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soften"/>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/a.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soften"/>
</div>
<div class="tab-pane fade" id="cat2">
                
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soften"/>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soften"/>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soften"/>
    <div class="row-fluid">	  
        <div class="span2">
            <img src="assets/img/d.jpg" alt="">
        </div>
        <div class="span6">
            <h5>Product Name </h5>
            <p>
                Nowadays the lingerie industry is one of the most successful business spheres.
                We always stay in touch with the latest fashion tendencies - 
                that is why our goods are so popular..
            </p>
        </div>
        <div class="span4 alignR">
            <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                    <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                    <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
            </form>
        </div>
    </div>
    <hr class="soften"/>
			
</div>*@
</div>
</div>

</div>
</div> <!-- Body wrapper -->
<!-- 
Clients 
-->
@*<section class="our_client">
    <hr class="soften"/>
    <h4 class="title cntr"><span class="text">Manufactures</span></h4>
    <hr class="soften"/>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="assets/img/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="assets/img/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="assets/img/3.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="assets/img/4.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="assets/img/5.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="assets/img/6.png"></a>
        </div>
    </div>
</section>*@

<!--
Footer
-->
@*<footer class="footer">
    <div class="row-fluid">
        <div class="span2">
            <h5>Your Account</h5>
            <a href="#">YOUR ACCOUNT</a><br>
            <a href="#">PERSONAL INFORMATION</a><br>
            <a href="#">ADDRESSES</a><br>
            <a href="#">DISCOUNT</a><br>
            <a href="#">ORDER HISTORY</a><br>
        </div>
        <div class="span2">
            <h5>Iinformation</h5>
            <a href="contact.html">CONTACT</a><br>
            <a href="#">SITEMAP</a><br>
            <a href="#">LEGAL NOTICE</a><br>
            <a href="#">TERMS AND CONDITIONS</a><br>
            <a href="#">ABOUT US</a><br>
        </div>
        <div class="span2">
            <h5>Our Offer</h5>
            <a href="#">NEW PRODUCTS</a> <br>
            <a href="#">TOP SELLERS</a><br>
            <a href="#">SPECIALS</a><br>
            <a href="#">MANUFACTURERS</a><br>
            <a href="#">SUPPLIERS</a> <br/>
        </div>
        <div class="span6">
            <h5>The standard chunk of Lorem</h5>
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
            those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et 
            Malorum" by Cicero are also reproduced in their exact original form, 
            accompanied by English versions from the 1914 translation by H. Rackham.
        </div>
    </div>
</footer>*@
</div><!-- /container -->

@*<div class="copyright">
    <div class="container">
        <p class="pull-right">
            <a href="#"><img src="assets/img/maestro.png" alt="payment"></a>
            <a href="#"><img src="assets/img/mc.png" alt="payment"></a>
            <a href="#"><img src="assets/img/pp.png" alt="payment"></a>
            <a href="#"><img src="assets/img/visa.png" alt="payment"></a>
            <a href="#"><img src="assets/img/disc.png" alt="payment"></a>
        </p>
        <span>Copyright &copy; 2013<br> bootstrap ecommerce shopping template</span>
    </div>
</div>*@
    
    
    
    
@*========================================================================================================================================*@
    
 
@*<div class="container" id="container2">

<div id="gototop"> </div>


<!--
Navigation Bar Section
-->

<!--
Body Section
-->
<div class="row">
    <br />
    <br />

    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Check Out</li>
        </ul>
        <div class="well well-small">
            <h1>Check Out <small class="pull-right"> 2 Items are in the cart </small>
            </h1>
            <hr class="soften"/>

            <table class="table table-bordered table-condensed" id="tblCart">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Unit price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img width="100" src="assets/img/e.jpg" alt=""></td>
                    <td>Items name here<br>Carate : 22<br>Model : n/a</td>
                    <td> - </td>       
                    <td>$50.00</td>
                </tr>
               
                </tbody>
            </table><br/>


           
            <a href="products.html" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Continue Shopping </a>
            <a href="login.html" class="shopBtn btn-large pull-right">Next <span class="icon-arrow-right"></span></a>

        </div>
    </div>
</div>
<!--
Clients
-->


<!--
Footer
-->

</div>*@
    

<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/ShoppingDesignTemplates/assets/js/jquery.js"></script>
<script src="~/ShoppingDesignTemplates/assets/js/bootstrap.min.js"></script>
<script src="~/ShoppingDesignTemplates/assets/js/jquery.easing-1.3.min.js"></script>
<script src="~/ShoppingDesignTemplates/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="~/ShoppingDesignTemplates/assets/js/shop.js"></script>
</body>

</html>